# From unitree_mujoco/.gitignore and unitree_sdk2/.gitignore
**/build/
**/.vscode/
**/__pycache__/
**/log/
**/install/
unitree_mujoco/simulate/mujoco
.cache
**/thirdparty/
**/.DS_Store
*.png
dsc_models/
dsc_models_obs_free/
dsc_models_with_obs/
dsc_models_with_obs1/
dsc_models_with_obs2/
dsc_models_with_obs_working/